#app-container {
  width: 90vw;
  height: 100vh;
  overflow: none;
}

#main-container {
/*  background: linear-gradient(236deg, #73d2de, #22b4a2);
  background-size: 400% 400%;
  animation: gradientAnimation 25s ease infinite;
*/
  background-color: #0C090D;
  height: 75vh;
  overflow: scroll;
  z-index: -1;
}




